@charset "uft-8";

/* declarações gerais*/
* { margin: 0px;
    padding: 0px;
     font-family: Arial, Helvetica, sans-serif;}
    
     html, body{ width: 100vh;
     height: 100vh; 
     background-color: #233eff;
      background-size: contain;
      background-repeat: no-repeat;
     }
    
     h1 { color: white;
     text-shadow: 3px 3px 0px #19289c;
    padding: 10px;}

    /* aparelho em pé retrato (portrat) */
        @media screen and (orientation:portrait) { body {       background-image: url(../imagem/cev-portrait.jpg);
    background-position: center bottom;}
        }

    /* aparelho deitado  (landscape)*/
 @media screen and (orientation: portrait){
body { background-image: url(../imagem/cev-landscape.jpg);
    background-position: left bottom;} }
